<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/estatistica</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql"> false </property>
    <!-- Configuração de validação do Banco de Dados na execução do sistema -->
    <!-- É aqui que se informa se o banco será criado pelo Hibernate (create-drop) -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="br.com.estatistica.modelo.Usuario"/>
        <mapping class="br.com.estatistica.modelo.TabelaDistribuicaoNormal"/>
        <mapping class="br.com.estatistica.modelo.Binomial"/>
        <mapping class="br.com.estatistica.modelo.Poisson"/>
        <mapping class="br.com.estatistica.modelo.Uniforme"/>
        <mapping class="br.com.estatistica.modelo.Exponencial"/>
    </session-factory>
</hibernate-configuration>
